<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <b>Welcome back to <%= ENV['LS_TEMPLATE_NAME'] %>, <%= @holder.name %></b>

        <p><%= @authenticator.name %> (<%= @authenticator.email %>) has created for you a credential in "<%= @credential.skill.name %>".</p>
    </body>
</html>
