<%= render "non_home_header" %>

<h1>Add Authenticators to Credential</h1>

<div class="credential">
    <% skill = @credential.skill %>
    <%= render "logo_external", skill: skill %>
    <div class="details">
        <%= render "skill_details", skill: skill %>
        <p><b>Authentications:</b>
            <ul class="compressed">
                <% @credential.authentications.order(:status).each do |authentication| %>
                    <li><%= authentication.authenticator.email %> | <%= authentication.status %></li>
                <% end %>
            </ul>
        </p>
    </div>
</div>

<%= form_with url: add_authenticators_my_credential_path do |form| %>
    <div class="field">
        <%= form.label :authenticators, "Authenticators, one per line, as 'name <email>':" %><br/>
        <%= form.text_area :authenticators %>
    </div>

    <div class="actions">
        <%=  form.submit "Add Authenticators" %>
    </div>
<% end %>
