[<%= link_to "Home", root_path %>]

<h1> My Credentials</h1>

<ul>
<% @my_credentials.each do |credential| %>
    <li><%= credential.skill.name %> | <%= credential.skill.skill_type %> | <%=  credential.status %> | <%= credential.skill.notes %><br/>
    Authentications:</li>
    <ul>
        <% credential.authentications.order(:status).each do |authentication| %>
            <li><%= authentication.authenticator.email %> | <%= authentication.status %></li>
        <% end %>
    </ul>
<% end %>
</ul>
