<p>[<%= link_to "Home", root_path %>] <%= current_user.name %> [<%= link_to "Log out", destroy_user_session_path, data: { "turbo-method": :delete } %>] [<a href="https://learnershape.gitbook.io/learnershape-skillsgraph/" target="_blank">Documentation</a>]</p>

<h1> My Credentials</h1>

<% @my_credentials.each do |credential| %>
    <div class="credential">
        <% skill = credential.skill %>
        <%= render "logo", logo: skill.logo %>
        <div class="details">
            <%= render "skill_details", skill: skill %>
            <%= render "authentications", credential: credential %>
        </div>
    </div>
<% end %>
