[<%= link_to "Home", root_path %>]

<h1> My Credentials</h1>

<ul>
<% @my_credentials.each do |credential| %>
    <li><b>Name:</b> <%= credential.skill.name %> (<%= credential.skill.skill_type %>)<br/>
        <% if credential.skill.description.present? %>
            <b>Description:</b> <%= credential.skill.description %><br/>
        <% end %>
        <b>Added:</b> <%= credential.created_at.strftime("%-d %B %Y:%k:%M") %><br/>
        <b>Authentications:</b>
        <ul class="compressed">
            <% credential.authentications.order(:status).each do |authentication| %>
                <li><%= authentication.authenticator.email %> | <%= authentication.status %> |
                    <% if authentication.submission_transaction_id %>
                        <b>submission_transaction_id:</b>
                        <%= authentication.submission_transaction_id %>
                        |
                    <% end %>
                    <% if authentication.revocation_transaction_id %>
                        <b>revocation_transaction_id:</b>
                        <%= authentication.revocation_transaction_id %>
                    <% end %>
                </li>
            <% end %>
        </ul>
        <%= link_to "Add Authenticators", add_authenticators_form_my_credential_path(credential.id) %>
    </li>
<% end %>
</ul>
