[<%= link_to "Home", root_path %>]

<h1>New Credential</h1>

<%= form_with url: my_credentials_path do |form| %>
    <div class="field">
        <%= form.label :name, "Name:" %><br/>
        <%= form.text_field :name  %>
    </div>

    <div class="field">
        <%= form.label :type, "Type:" %><br/>
        <%= form.select :type, [["Education", "EducationCredential"],
                                ["General", "GeneralCredential"],
                                ["Work", "WorkCredential"]],
                               selected: "GeneralCredential" %>
    </div>

    <div class="field">
        <%= form.label :description, "Description:" %><br/>
        <%= form.text_area :description %>
    </div>

    <div class="field">
        <%= form.label :authenticators, "Authenticator emails (one per line):" %><br/>
        <%= form.text_area :authenticators %>
    </div>


    <div class="actions">
        <%=  form.submit "Create" %>
    </div>
<% end %>
