<p>[<%= link_to "Home", root_path %>] <%= current_user.name %></p>

<h1>New Credential (For Me)</h1>

<%= form_with url: my_credentials_path do |form| %>
    <div class="field">
        <%= form.label :name, "Name:" %><br/>
        <%= form.text_field :name  %>
    </div>

    <div class="field">
        <%= form.label :type, "Type:" %><br/>
        <%= form.select :type, [["Education", "EducationCredential"],
                                ["General", "GeneralCredential"],
                                ["Work", "WorkCredential"]],
                               selected: "GeneralCredential" %>
    </div>

    <div class="field">
        <%= form.label :description, "Description:" %><br/>
        <%= form.text_area :description %>
    </div>

    <div class="field">
        <%= form.label :authenticators, "Authenticators, one per line, as: 'name <email>':" %><br/>
        <%= form.text_area :authenticators %>
    </div>


    <div class="actions">
        <%=  form.submit "Create" %>
    </div>
<% end %>
