<%= render "non_home_header" %>

<h1>New Credential (For Me)</h1>

<%= form_with url: my_credentials_path do |form| %>
    <div class="field">
        <%= form.label :name, "Name:" %><br/>
        <%= form.text_field :name, value: params[:name], class: "#{'invalid-border' if @invalid_name}" %>
        <% if @invalid_name  %>
            <div class="invalid-message">Name cannot be blank</div>
        <% end %>
    </div>

    <div class="field">
        <%= form.label :type, "Type:" %><br/>
        <%= form.select :type, [["Education", "EducationCredential"],
                                ["General", "GeneralCredential"],
                                ["Work", "WorkCredential"]],
                               selected: "#{params[:type] || 'GeneralCredential'}" %>
    </div>

    <div class="field">
        <%= form.label :description, "Description:" %><br/>
        <%= form.text_area :description, value: params['description'] %>
    </div>

    <div class="field">
        <%= form.label :image, "Logo" %><br/>
        <%= form.file_field :image %>
    </div>

    <div class="break"></div>

    <div class="field">
        <%= form.label :authenticators, "(optional) Authenticators, one per line, as 'name <email>':" %><br/>
        <%= form.text_area :authenticators, class: "#{'invalid-border' if @invalid_authenticators}", value: params[:authenticators] %>
        <% if @invalid_authenticators %>
            <div class="invalid-message">Authenticators must be one per line in the form 'name &lt;email&gt;'</div>
        <% end  %>
    </div>

    <div class="actions">
        <%=  form.submit "Create" %>
    </div>
<% end %>
