<h1>Home for <%= current_user.name %></h1>

<ul>
    <li>My Credentials</li>
    <ul>
        <li><%= link_to "Create New Credential", new_my_credential_path %></li>
        <li><%= link_to "List My Credentials", my_credentials_path %>
    </ul>
    <li>My Authentications</li>
    <ul>
        <li><%= link_to "List My Invited Authentications (#{@invited_authentications_count})", my_invited_authentications_path %>
    </ul>
    <li style="color: #CCC;">Credentials to Create for Others</li>
</ul>

<hr>

<%= button_to "Logout", destroy_user_session_path, method: :delete  %>
