<p>[<%= link_to "Home", root_path %>] <%= current_user.name %> [<%= link_to "Log out", destroy_user_session_path, data: { "turbo-method": :delete } %>] [<a href="https://learnershape.gitbook.io/learnershape-skillsgraph/" target="_blank">Documentation</a>]</p>

<h1> My Invited Authentications (<%= @invited_authentications.count %>)</h1>

<% if @invited_authentications.empty? %>
    <p>No authentications awaiting acceptance or refusal</p>
<% end %>

<% @invited_authentications.each do |authentication| %>
    <div class="credential">
        <% credential = authentication.credential %>
        <% skill = credential.skill %>
        <%= render "logo", logo: skill.logo %>
        <div class="details">
            <%= render "skill_details", skill: skill %>
            <p><b>Claimant:</b> <%= credential.holder.email %><br/>
            [ <%= link_to "Accept", accept_my_invited_authentication_path(authentication) %> ]
            [ <%= link_to "Refuse", refuse_my_invited_authentication_path(authentication) %> ]
            </p>
        </div>
    </div>
<% end %>

<h2>Already accepted:</h2>

<% if @accepted_authentications.empty? %>
    <p>None yet</p>
<% end %>


<% @accepted_authentications.each do |authentication| %>
    <div class="credential">
        <% credential = authentication.credential %>
        <% skill = credential.skill %>
        <%= render "logo", logo: skill.logo %>
        <div class="details">
            <%= render "skill_details", skill: skill %>
            <p><b>Claimant:</b> <%= credential.holder.email %></p>
        </div>
    </div>
<% end %>

<h2>Already refused:</h2>

<% if @refused_authentications.empty? %>
    <p>None yet</p>
<% end %>

<% @refused_authentications.each do |authentication| %>
    <div class="credential">
        <% credential = authentication.credential %>
        <% skill = credential.skill %>
        <%= render "logo", logo: skill.logo %>
        <div class="details">
            <%= render "skill_details", skill: skill %>
            <p><b>Claimant:</b> <%= credential.holder.email %></p>
        </div>
    </div>
<% end %>
