[<%= link_to "Home", root_path %>]

<h1> My Invited Authentications (<%= @invited_authentications.count %>)</h1>

<% if @invited_authentications.empty? %>
    <p>No authentications awaiting acceptance or refusal</p>
<% end %>

<ul>
    <% @invited_authentications.each do |authentication| %>
        <li>
            <% credential = authentication.credential %>
            <b>Name:</b> <%= credential.skill.name %> (<%= credential.skill.skill_type %>)<br/>
            <% if credential.skill.description.present? %>
                <b>Description:</b> <%= credential.skill.description %><br/>
            <% end %>
            <b>Added:</b> <%= credential.created_at.strftime("%-d %B %Y:%k:%M") %>
            <b>Claimant:</b> <%= credential.holder.email %><br/>
            [ <%= link_to "Accept", accept_my_invited_authentication_path(authentication) %> ]
            [ <%= link_to "Refuse", refuse_my_invited_authentication_path(authentication) %> ]
        <br/></li>
    <% end %>
</ul>

<h2>Already accepted:</h2>

<% if @accepted_authentications.empty? %>
    <p>None yet</p>
<% end %>


<ul>
<% @accepted_authentications.each do |authentication| %>
    <li>
        <% credential = authentication.credential %>
        <b>Name:</b> <%= credential.skill.name %> (<%= credential.skill.skill_type %>)<br/>
        <% if credential.skill.description.present? %>
            <b>Description:</b> <%= credential.skill.description %><br/>
        <% end %>
        <b>Claimant:</b> <%= credential.holder.email %>
    </li>
<% end %>
</ul>

<h2>Already refused:</h2>

<% if @refused_authentications.empty? %>
    <p>None yet</p>
<% end %>

<ul>
    <% @refused_authentications.each do |authentication| %>
        <li>
            <% credential = authentication.credential %>
            <b>Name:</b> <%= credential.skill.name %> (<%= credential.skill.skill_type %>)<br/>
            <% if credential.skill.description.present? %>
                <b>Description:</b> <%= credential.skill.description %><br/>
            <% end %>
            <b>Claimant:</b> <%= credential.holder.email %>
        </li>
    <% end %>
</ul>
