[<%= link_to "Home", root_path %>]

<h1> My Invited Authentications</h1>

<ul>
    <% @my_authentications.each do |authentication| %>
        <li>
            <% credential = authentication.credential %>
            Skill: <%= credential.skill.name %> | <%=  credential.skill.skill_type %> | <%= credential.skill.notes %><br/>
            Claimant: <%= credential.holder.email %>
        </li>
    <% end %>
</ul>
