<% if program.credentials.is_authenticated.any? %>
    <p>
        <b>Participants:</b>
        <ul>
            <% program.credentials.is_authenticated.each do |credential| %>
                <li>
                    <%= credential.try(:holder).try(:email) %> |
                    <% authentication = credential.authentications.where(authenticator: @creator).first %>
                    <%= render "explorer_link", id: authentication.submission_transaction_id %>
                    [<%= link_to "Revoke", revoke_credentials_for_other_path(credential.id) %>]
                </li>
            <% end %>
        </ul>
    </p>
<% end %>

<% if program.credentials.is_revoked.any? %>
    <p><b>Revoked Participants:</b>
        <ul>
            <% program.credentials.is_revoked.each do |credential| %>
                <li>
                    <%= credential.try(:holder).try(:email) %> |
                    <% authentication = credential.authentications.where(authenticator: @creator).first %>
                    <%= render "explorer_link", id: authentication.submission_transaction_id %>
                    <%= render "explorer_link_revoked", id: authentication.revocation_transaction_id %>
                </li>
            <% end %>
        </ul>
    </p>
<% end %>

<p><%= link_to "Add Participants", add_participants_form_credentials_for_other_path(program.id) %></p>
