<p>[<%= link_to "Home", root_path %>] <%= current_user.name %> [<%= link_to "Logout", destroy_user_session_path, data: { "turbo-method": :delete } %>] [<a href="https://learnershape.gitbook.io/learnershape-skillsgraph/" target="_blank">Documentation</a>]</p>

<h1>Public Views</h1>

<ul>
    <% @public_views.each do |public_view| %>
        <li><b>Link:</b> <%= link_to "/public_views/#{public_view.uuid}", public_view_path(id: public_view.uuid) %> (<b>status:</b> <%= public_view.status %>)<br/>
            <b>Credentials:</b>
            <ul class="compressed">
                <% public_view.credential_skill_names_for_index.each do |name| %>
                    <li><%= name  %></li>
                <% end %>
            </ul>
            <% if public_view.active? %>
                [ <%= link_to "Mark inactive", mark_inactive_public_view_path(public_view) %>]
            <% else %>
                [ <%= link_to "Mark active", mark_active_public_view_path(public_view) %>]
            <% end %>
        </li>
    <% end %>
</ul>
