<%= render "non_home_header" %>

<h1>Create Public View</h1>

<p>In the input box next to the credential you want to include, put a number for what ordering you want the credentials to appear in.</p>

<p>For instance, if you have credential1 / credential2 / credential3, and you want a public view with credential3 followed by credential1, put a "1" beside credential3 and a "2" beside credential1, and leave credential2 blank.</p>

<%= form_with url: public_views_path do |form| %>
    <%=  form.fields_for :credentials_to_add do |form| %>

        <% @my_credentials.each do |credential| %>
            <div class="ordered-credential">
                <% skill = credential.skill %>
                <div class="ordering">
                    <%= form.text_field credential.id, { size: "4" } %>
                </div>
                <%=  render "logo", logo: skill.logo %>
                <div class="details">
                    <%= render "skill_details", skill: skill %>
                    <%= render "read_authentications", credential: credential %>
                </div>
            </div>
        <% end %>
    <% end %>

    <%=  form.submit "Create" %>

<% end %>
