<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <b>Welcome back to <%= ENV['LS_TEMPLATE_NAME'] %>, <%= @authenticator.name %></b>

        <p><%= @holder.name %> (<%= @holder.email %>) is inviting you to authenticate their skill of "<%= @credential.skill.name %>".</p>
    </body>
</html>
